<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_FOLDER_1_1" value="./logs/risk_1_1/"/>
    <property name="LOG_FOLDER_1_2_1" value="./logs/risk_1_2_1/"/>
    <property name="LOG_FOLDER_1_2_2" value="./logs/risk_1_2_2/"/>
    <property name="LOG_FOLDER_1_3_1" value="./logs/risk_1_3_1/"/>
    <property name="LOG_FOLDER_1_3_2" value="./logs/risk_1_3_2/"/>
    <property name="LOG_FOLDER_1_3_3" value="./logs/risk_1_3_3/"/>
    <property name="LOG_FOLDER_1_4_1" value="./logs/risk_1_4_1/"/>
    <property name="LOG_FOLDER_1_4_2" value="./logs/risk_1_4_2/"/>
    <property name="LOG_FOLDER_1_5_1" value="./logs/risk_1_5_1/"/>
    <property name="LOG_FOLDER_1_5_2" value="./logs/risk_1_5_2/"/>
    <property name="LOG_FOLDER_1_6_1" value="./logs/risk_1_6_1/"/>
    <property name="LOG_FOLDER_1_8_1" value="./logs/risk_1_8_1/"/>
    <property name="LOG_FOLDER_1_8_2" value="./logs/risk_1_8_2/"/>
    <property name="LOG_FOLDER_1_10_1" value="./logs/risk_1_10_1/"/>
    <property name="LOG_FOLDER_1_10_2" value="./logs/risk_1_10_2/"/>
    <property name="LOG_FOLDER_1_10_3" value="./logs/risk_1_10_3/"/>
    <property name="LOG_FOLDER_1_10_4" value="./logs/risk_1_10_4/"/>
    <property name="LOG_FOLDER_1_12" value="./logs/risk_1_12/"/>
    <property name="LOG_FOLDER_1_13_1" value="./logs/risk_1_13_1/"/>
    <property name="LOG_FOLDER_1_13_2" value="./logs/risk_1_13_2/"/>
    <property name="LOG_FOLDER_1_13_3" value="./logs/risk_1_13_3/"/>
    <property name="LOG_FOLDER_1_14" value="./logs/risk_1_14/"/>
    <property name="LOG_FOLDER_2_1" value="./logs/risk_2_1/"/>
    <property name="LOG_FOLDER_2_2_1" value="./logs/risk_2_2_1/"/>
    <property name="LOG_FOLDER_2_2_2" value="./logs/risk_2_2_2/"/>
    <property name="LOG_FOLDER_2_2" value="./logs/risk_2_2/"/>
    <property name="LOG_FOLDER_2_3" value="./logs/risk_2_3/"/>
    <property name="LOG_FOLDER_2_4" value="./logs/risk_2_4/"/>
    <property name="LOG_FOLDER_2_5_1" value="./logs/risk_2_5_1/"/>
    <property name="LOG_FOLDER_2_5_2" value="./logs/risk_2_5_2/"/>
    <property name="LOG_FOLDER_2_5_3" value="./logs/risk_2_5_3/"/>
    <property name="LOG_FOLDER_2_5" value="./logs/risk_2_5/"/>
    <property name="LOG_FOLDER_2_6_1" value="./logs/risk_2_6_1/"/>
    <property name="LOG_FOLDER_2_6_2" value="./logs/risk_2_6_2/"/>
    <property name="LOG_FOLDER_2_6_3" value="./logs/risk_2_6_3/"/>
    <property name="LOG_FOLDER_2_6" value="./logs/risk_2_6/"/>
    <property name="LOG_FOLDER_2_9" value="./logs/risk_2_9/"/>
    <property name="LOG_FOLDER_2_10" value="./logs/risk_2_10/"/>
    <property name="LOG_FOLDER_2_11" value="./logs/risk_2_11/"/>
    <property name="LOG_FOLDER_2_12" value="./logs/risk_2_12/"/>
    <property name="LOG_FOLDER_2_13_1" value="./logs/risk_2_13_1/"/>
    <property name="LOG_FOLDER_2_13" value="./logs/risk_2_13/"/>
    <property name="LOG_FOLDER_2_14_1" value="./logs/risk_2_14_1/"/>
    <property name="LOG_FOLDER_2_14" value="./logs/risk_2_14/"/>
    <property name="LOG_FOLDER_2_15_1" value="./logs/risk_2_15_1/"/>
    <property name="LOG_FOLDER_2_15" value="./logs/risk_2_15/"/>
    <property name="LOG_FOLDER_2_16_2" value="./logs/risk_2_16_2/"/>
    <property name="LOG_FOLDER_2_17_2" value="./logs/risk_2_17_2/"/>

    <property name="LOG_FOLDER_1_16" value="./logs/risk_1_16/"/>
    <property name="LOG_FOLDER_1_17" value="./logs/risk_1_17/"/>
    <property name="LOG_FOLDER_1_18" value="./logs/risk_1_18/"/>

    <property name="LOG_ROOT_FOLDER" value="./logs/loader/"/>
    <property name="VALIDATION_FOLDER" value="./logs/validation/"/>
    <property name="ELASTIC_UPLOADER_FOLDER" value="./logs/elastic-integration/"/>
    <property name="INDICATORS_FOLDER" value="./logs/indicators/"/>

    <appender name="indicators" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5}   : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${INDICATORS_FOLDER}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="elastic-integration" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ELASTIC_UPLOADER_FOLDER}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="validation" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${VALIDATION_FOLDER}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_16" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_16}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_17" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_17}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_18" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_18}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_1}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_2_1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_2_1}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_2_2" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_2_2}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_3_1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_3_1}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_3_2" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_3_2}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_3_3" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_3_3}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_4_1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_4_1}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_4_2" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_4_2}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_5_1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_5_1}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_5_2" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_5_2}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_6_1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_6_1}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_8_1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_8_1}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_8_2" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_8_2}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_10_1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_10_1}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_10_2" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_10_2}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_10_3" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_10_3}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_10_4" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_10_4}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_12" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_12}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_13_1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_13_1}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_13_2" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_13_2}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_13_3" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_13_3}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_1_14" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_1_14}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_1}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_2_1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_2_1}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_2_2" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_2_2}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_2" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_2}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_3" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_3}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_4" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_4}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_5_1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_5_1}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_5_2" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_5_2}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_5_3" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_5_3}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_5" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_5}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_6_1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_6_1}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_6_2" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_6_2}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_6_3" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_6_3}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_6" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_6}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_9" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_9}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_10" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_10}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_11" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_11}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_12" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_12}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_13_1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_13_1}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_13" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_13}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_14_1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_14_1}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_14" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_14}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_15_1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_15_1}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_15" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_15}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_16_2" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_16_2}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="risk_2_17_2" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER_2_17_2}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="main" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT_FOLDER}loader.log</file>
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_ROOT_FOLDER}dasu-%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>100</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5} : %m%n</pattern>
        </encoder>
    </appender>

    <appender name="async-elastic-integration" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="elastic-integration"/>
    </appender>

    <appender name="async-indicators" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="indicators"/>
    </appender>

    <appender name="async-validation" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="validation"/>
    </appender>

    <appender name="async-main" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="main"/>
    </appender>

    <appender name="async-console" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="console"/>
    </appender>

    <appender name="async-risk_1_1" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_1_1"/>
    </appender>

    <appender name="async-risk_1_2_1" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_1_2_1"/>
    </appender>

    <appender name="async-risk_1_2_2" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_1_2_2"/>
    </appender>

    <appender name="async-risk_1_3_1" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_1_3_1"/>
    </appender>

    <appender name="async-risk_1_3_2" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_1_3_2"/>
    </appender>

    <appender name="async-risk_1_3_3" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_1_3_3"/>
    </appender>

    <appender name="async-risk_1_4_1" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_1_4_1"/>
    </appender>

    <appender name="async-risk_1_4_2" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_1_4_2"/>
    </appender>

    <appender name="async-risk_1_5_1" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_1_5_1"/>
    </appender>

    <appender name="async-risk_1_5_2" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_1_5_2"/>
    </appender>

    <appender name="async-risk_1_6_1" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_1_6_1"/>
    </appender>

    <appender name="async-risk_1_8_1" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_1_8_1"/>
    </appender>

    <appender name="async-risk_1_8_2" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_1_8_2"/>
    </appender>

    <appender name="async-risk_1_10_1" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_1_10_1"/>
    </appender>

    <appender name="async-risk_1_10_2" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_1_10_2"/>
    </appender>

    <appender name="async-risk_1_10_3" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_1_10_3"/>
    </appender>

    <appender name="async-risk_1_10_4" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_1_10_4"/>
    </appender>

    <appender name="async-risk_1_12" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_1_12"/>
    </appender>

    <appender name="async-risk_1_13_1" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_1_13_1"/>
    </appender>

    <appender name="async-risk_1_13_2" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_1_13_2"/>
    </appender>

    <appender name="async-risk_1_13_3" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_1_13_3"/>
    </appender>

    <appender name="async-risk_1_14" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_1_14"/>
    </appender>

    <appender name="async-risk_2_1" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_1"/>
    </appender>

    <appender name="async-risk_2_2_1" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_2_1"/>
    </appender>

    <appender name="async-risk_2_2_2" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_2_2"/>
    </appender>

    <appender name="async-risk_2_2" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_2"/>
    </appender>

    <appender name="async-risk_2_3" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_3"/>
    </appender>

    <appender name="async-risk_2_4" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_4"/>
    </appender>

    <appender name="async-risk_2_5_1" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_5_1"/>
    </appender>

    <appender name="async-risk_2_5_2" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_5_2"/>
    </appender>

    <appender name="async-risk_2_5_3" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_5_3"/>
    </appender>

    <appender name="async-risk_2_5" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_5"/>
    </appender>

    <appender name="async-risk_2_6_1" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_6_1"/>
    </appender>

    <appender name="async-risk_2_6_2" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_6_2"/>
    </appender>

    <appender name="async-risk_2_6_3" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_6_3"/>
    </appender>

    <appender name="async-risk_2_6" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_6"/>
    </appender>

    <appender name="async-risk_2_9" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_9"/>
    </appender>

    <appender name="async-risk_2_10" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_10"/>
    </appender>

    <appender name="async-risk_2_11" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_11"/>
    </appender>

    <appender name="async-risk_2_12" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_12"/>
    </appender>

    <appender name="async-risk_2_13_1" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_13_1"/>
    </appender>

    <appender name="async-risk_2_13" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_13"/>
    </appender>

    <appender name="async-risk_2_14_1" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_14_1"/>
    </appender>

    <appender name="async-risk_2_14" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_14"/>
    </appender>

    <appender name="async-risk_2_15_1" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_15_1"/>
    </appender>

    <appender name="async-risk_2_15" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_15"/>
    </appender>

    <appender name="async-risk_2_16_2" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_16_2"/>
    </appender>

    <appender name="async-risk_2_17_2" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="risk_2_17_2"/>
    </appender>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators" level="info">
        <appender-ref ref="async-indicators"/>
    </logger>

    <logger name="com.datapath.elasticsearchintegration.services.TenderObjectsProvider" level="info">
        <appender-ref ref="async-elastic-integration"/>
    </logger>

    <logger name="com.datapath.integration.scheduling.TendersValidationScheduler" level="info">
        <appender-ref ref="async-validation"/>
    </logger>

    <logger name="com.datapath.integration.validation.TenderUpdatesValidator" level="info">
        <appender-ref ref="async-validation"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_1_1_AprilExtractor" level="info">
        <appender-ref ref="async-risk_1_1"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_1_2_1_Extractor" level="info">
        <appender-ref ref="async-risk_1_2_1"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_1_2_2_Extractor" level="info">
        <appender-ref ref="async-risk_1_2_2"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_1_3_1_Extractor" level="info">
        <appender-ref ref="async-risk_1_3_1"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_1_3_2_Extractor" level="info">
        <appender-ref ref="async-risk_1_3_2"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_1_3_3_Extractor" level="info">
        <appender-ref ref="async-risk_1_3_3"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_1_4_1_Extractor" level="info">
        <appender-ref ref="async-risk_1_4_1"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_1_4_2_Extractor" level="info">
        <appender-ref ref="async-risk_1_4_2"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_1_5_1_Extractor" level="info">
        <appender-ref ref="async-risk_1_5_1"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_1_5_2_Extractor" level="info">
        <appender-ref ref="async-risk_1_5_2"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_1_6_Extractor" level="info">
        <appender-ref ref="async-risk_1_6_1"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_1_8_1_Extractor" level="info">
        <appender-ref ref="async-risk_1_8_1"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_1_8_2_Extractor" level="info">
        <appender-ref ref="async-risk_1_8_2"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_1_10_1_Extractor" level="info">
        <appender-ref ref="async-risk_1_10_1"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_1_10_2_Extractor" level="info">
        <appender-ref ref="async-risk_1_10_2"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_1_10_3_Extractor" level="info">
        <appender-ref ref="async-risk_1_10_3"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_1_10_4_Extractor" level="info">
        <appender-ref ref="async-risk_1_10_4"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_1_12_Extractor" level="info">
        <appender-ref ref="async-risk_1_12"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_1_13_1_Extractor" level="info">
        <appender-ref ref="async-risk_1_13_1"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_1_13_2_Extractor" level="info">
        <appender-ref ref="async-risk_1_13_2"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_1_13_3_Extractor" level="info">
        <appender-ref ref="async-risk_1_13_3"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_1_14_Extractor" level="info">
        <appender-ref ref="async-risk_1_14"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_1_Extractor" level="info">
        <appender-ref ref="async-risk_2_1"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_2_1_Extractor" level="info">
        <appender-ref ref="async-risk_2_2_1"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_2_2_Extractor" level="info">
        <appender-ref ref="async-risk_2_2_2"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_2_Extractor" level="info">
        <appender-ref ref="async-risk_2_2"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_3_Extractor" level="info">
        <appender-ref ref="async-risk_2_3"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_4_Extractor" level="info">
        <appender-ref ref="async-risk_2_4"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_5_1_Extractor" level="info">
        <appender-ref ref="async-risk_2_5_1"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_5_2_Extractor" level="info">
        <appender-ref ref="async-risk_2_5_2"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_5_3_Extractor" level="info">
        <appender-ref ref="async-risk_2_5_3"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_5_Extractor" level="info">
        <appender-ref ref="async-risk_2_5"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_6_1_Extractor" level="info">
        <appender-ref ref="async-risk_2_6_1"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_6_2Extractor" level="info">
        <appender-ref ref="async-risk_2_6_2"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_6_3_Extractor" level="info">
        <appender-ref ref="async-risk_2_6_3"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_6_Extractor" level="info">
        <appender-ref ref="async-risk_2_6"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_9_Extractor" level="info">
        <appender-ref ref="async-risk_2_9"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_10_Extractor" level="info">
        <appender-ref ref="async-risk_2_10"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_11_Extractor" level="info">
        <appender-ref ref="async-risk_2_11"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_12_Extractor" level="info">
        <appender-ref ref="async-risk_2_12"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_13_1_Extractor" level="info">
        <appender-ref ref="async-risk_2_13_1"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_13_Extractor" level="info">
        <appender-ref ref="async-risk_2_13"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_14_1_Extractor" level="info">
        <appender-ref ref="async-risk_2_14_1"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_14_Extractor" level="info">
        <appender-ref ref="async-risk_2_14"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_15_1Extractor" level="info">
        <appender-ref ref="async-risk_2_15_1"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_15_Extractor" level="info">
        <appender-ref ref="async-risk_2_15"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_16_2Extractor" level="info">
        <appender-ref ref="async-risk_2_16_2"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators.Risk_2_17_2Extractor" level="info">
        <appender-ref ref="async-risk_2_17_2"/>
    </logger>

    <root level="info">
        <appender-ref ref="async-main"/>
        <appender-ref ref="async-console"/>
    </root>

</configuration>
