<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_ROOT_FOLDER" value="./logs/loader/"/>
    <property name="VALIDATION_FOLDER" value="./logs/validation/"/>
    <property name="INDICATORS_FOLDER" value="./logs/indicators/"/>

    <appender name="failed-indicators" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5}   : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${INDICATORS_FOLDER}failed-log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="indicators" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5}   : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${INDICATORS_FOLDER}log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="validation" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${VALIDATION_FOLDER}validation.log</file>
        <encoder>
            <pattern>%d %p --- [%t] %c{5}   : %m%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${VALIDATION_FOLDER}validation-%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="main" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT_FOLDER}dasu.log</file>
        <encoder>
            <pattern>%d %p --- [%t] %c{5}   : %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_ROOT_FOLDER}dasu-%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>100</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p --- [%t] %c{5}   : %m%n</pattern>
        </encoder>
    </appender>

    <appender name="async-failed-indicators" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="failed-indicators"/>
    </appender>

    <appender name="async-indicators" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="indicators"/>
    </appender>

    <appender name="async-validation" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="validation"/>
    </appender>

    <appender name="async-main" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="main"/>
    </appender>

    <appender name="async-console" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="console"/>
    </appender>

    <logger name="com.datapath.indicatorsresolver.service.IndicatorLogService" level="error">
        <appender-ref ref="async-failed-indicators"/>
    </logger>

    <logger name="com.datapath.indicatorsresolver.service.checkIndicators" level="all">
        <appender-ref ref="async-indicators"/>
    </logger>

    <logger name="com.datapath.integration.scheduling.TendersValidationScheduler" level="info">
        <appender-ref ref="async-validation"/>
    </logger>

    <logger name="com.datapath.integration.validation.TenderUpdatesValidator" level="info">
        <appender-ref ref="async-validation"/>
    </logger>

    <root level="info">
        <appender-ref ref="async-main"/>
        <appender-ref ref="async-console"/>
    </root>

</configuration>
